# Node Environment
NODE_ENV=development

# Application Port
PORT=3000

# Postgres Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=nest-test

# Redis Configuration
REDIS_CONNECTION=redis://default:redispassword@localhost:6379/0
